<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" type="text/css" href="reset.css">

<link rel="stylesheet" type="text/css" href="mystyle2.css">



<script>





</script>

</head>


<body>

<h1>
North Texas Process Service &nbsp
</h1>

<h2>

	<div id="main" ng-app>

	<nav class="{{active}}" ng-click="$event.preventDefault()">

		<a href="file:///C:/Users/Ray/Desktop/CSS/test3.html" class="home" ng-click="active='projects'">Home</a>

		<a href="#" class="services" ng-click="active='services'">Services</a>

		<a href="#" class="serviceArea" ng-click="active='serviceArea'">Service Area</a>

		<a href="file:///C:/Users/Ray/Desktop/CSS/about.html" class="about" ng-click="active='about'">About</a>

		<a href="#" class="contact" ng-click="active='contact'">Contact</a>



	</nav>

	</div>


</h2>


<p> blah blah blah </p>









</body>
</html>